In [3]:
import requests
import json
import pandas as pd
import wbgapi as wb

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
gdp_data = wb.data.DataFrame('NY.GDP.PCAP.CD')
inflation_data = wb.data.DataFrame('NY.GDP.DEFL.KD.ZG')
unemployment_data = wb.data.DataFrame('SL.UEM.TOTL.NE.ZS')

In [ ]:
jpn_gdp = gdp_data.filter(items=['JPN'], axis=0)
jpn_inflation = inflation_data.filter(items=['JPN'], axis=0)
jpn_unemployment = unemployment_data.filter(items=['JPN'], axis=0)

In [ ]:
jpn_gdp = jpn_gdp.rename(index={'JPN' : 'gdp'})
jpn_inflation = jpn_inflation.rename(index={'JPN' : 'inflation'})
jpn_unemployment = jpn_unemployment.rename(index={'JPN' : 'unemployment'})

In [65]:
jpn_econ = pd.concat([jpn_gdp, jpn_inflation, jpn_unemployment], axis=0)
jpn_econ

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,YR1970,YR1971,YR1972,YR1973,YR1974,YR1975,YR1976,YR1977,YR1978,YR1979,YR1980,YR1981,YR1982,YR1983,YR1984,YR1985,YR1986,YR1987,YR1988,YR1989,YR1990,YR1991,YR1992,YR1993,YR1994,YR1995,YR1996,YR1997,YR1998,YR1999,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023,YR2024
gdp,508.702779,608.864581,684.565510,775.592123,902.867722,993.732722,1143.607897,1326.361039,1553.271394,1802.980281,2100.748070,2321.390925,3031.438606,4061.013390,4448.319656,4775.899536,5310.431409,6472.787787,9012.136035,9301.148310,9668.746264,10583.127891,9779.974906,10652.014716,11207.452352,11809.460345,17451.834939,21141.718395,25499.881173,25265.948759,25801.395039,29428.428904,31992.790212,36345.244126,39933.515056,44197.619101,39150.039631,35638.231956,32423.755613,36610.168316,39169.35957,34406.182464,32820.793643,35387.037420,38298.980171,37812.895020,35991.546003,35779.024542,39876.303969,41308.996837,44968.156235,48760.078949,49145.280431,40898.647896,38475.395246,34960.639384,39375.473162,38834.052934,39751.133098,40415.956765,40028.734173,40094.559980,34065.643896,33836.175627,32475.892499
inflation,NaN,7.785718,4.199578,5.510469,5.328706,5.136857,4.970869,5.495390,4.918863,4.433399,17.396433,5.091352,5.604422,12.705396,20.810050,7.177441,8.007886,6.749107,4.603758,2.751631,5.437984,2.857662,1.759523,0.920751,1.429606,1.260621,1.612027,-0.163786,0.609789,2.069040,2.564404,2.904571,1.677270,0.528411,0.186809,-0.523459,-0.445775,0.504461,-0.026680,-1.241051,-1.33626,-1.084880,-1.390979,-1.607704,-1.124766,-1.194018,-0.862018,-0.705244,-0.911530,-0.569565,-1.880742,-1.622080,-0.756093,-0.354375,1.686295,2.111299,0.419944,-0.074350,-0.000238,0.634803,0.933912,-0.203836,0.399049,4.068198,2.873810
unemployment,1.700000,1.400000,1.300000,1.300000,1.100000,1.200000,1.300000,1.300000,1.200000,1.100000,1.100000,1.200000,1.400000,1.300000,1.400000,1.900000,2.000000,2.000000,2.200000,2.100000,2.000000,2.200000,2.400000,2.600000,2.700000,2.600000,2.800000,2.800000,2.500000,2.300000,2.100000,2.100000,2.200000,2.500000,2.900000,3.200000,3.400000,3.400000,4.100000,4.700000,4.74800,5.020000,5.386000,5.251000,4.734000,4.446000,4.192000,3.888000,4.002000,5.068000,5.102000,4.550000,4.358000,4.038000,3.589000,3.385000,3.132000,2.822000,2.467000,2.351000,2.809000,2.808000,2.614000,2.600000,2.500000

In [66]:
jpn_econ = jpn_econ.transpose()
jpn_econ

                 gdp  inflation  unemployment
YR1960    508.702779        NaN         1.700
YR1961    608.864581   7.785718         1.400
YR1962    684.565510   4.199578         1.300
YR1963    775.592123   5.510469         1.300
YR1964    902.867722   5.328706         1.100
YR1965    993.732722   5.136857         1.200
YR1966   1143.607897   4.970869         1.300
YR1967   1326.361039   5.495390         1.300
YR1968   1553.271394   4.918863         1.200
YR1969   1802.980281   4.433399         1.100
YR1970   2100.748070  17.396433         1.100
YR1971   2321.390925   5.091352         1.200
YR1972   3031.438606   5.604422         1.400
YR1973   4061.013390  12.705396         1.300
YR1974   4448.319656  20.810050         1.400
YR1975   4775.899536   7.177441         1.900
YR1976   5310.431409   8.007886         2.000
YR1977   6472.787787   6.749107         2.000
YR1978   9012.136035   4.603758         2.200
YR1979   9301.148310   2.751631         2.100
YR1980   9668.746264   5.437984         2.000
YR1981  10583.127891   2.857662         2.200
YR1982   9779.974906   1.759523         2.400
YR1983  10652.014716   0.920751         2.600
YR1984  11207.452352   1.429606         2.700
YR1985  11809.460345   1.260621         2.600
YR1986  17451.834939   1.612027         2.800
YR1987  21141.718395  -0.163786         2.800
YR1988  25499.881173   0.609789         2.500
YR1989  25265.948759   2.069040         2.300
YR1990  25801.395039   2.564404         2.100
YR1991  29428.428904   2.904571         2.100
YR1992  31992.790212   1.677270         2.200
YR1993  36345.244126   0.528411         2.500
YR1994  39933.515056   0.186809         2.900
YR1995  44197.619101  -0.523459         3.200
YR1996  39150.039631  -0.445775         3.400
YR1997  35638.231956   0.504461         3.400
YR1998  32423.755613  -0.026680         4.100
YR1999  36610.168316  -1.241051         4.700
YR2000  39169.359570  -1.336260         4.748
YR2001  34406.182464  -1.084880         5.020
YR2002  32820.793643  -1.390979         5.386
YR2003  35387.037420  -1.607704         5.251
YR2004  38298.980171  -1.124766         4.734
YR2005  37812.895020  -1.194018         4.446
YR2006  35991.546003  -0.862018         4.192
YR2007  35779.024542  -0.705244         3.888
YR2008  39876.303969  -0.911530         4.002
YR2009  41308.996837  -0.569565         5.068
YR2010  44968.156235  -1.880742         5.102
YR2011  48760.078949  -1.622080         4.550
YR2012  49145.280431  -0.756093         4.358
YR2013  40898.647896  -0.354375         4.038
YR2014  38475.395246   1.686295         3.589
YR2015  34960.639384   2.111299         3.385
YR2016  39375.473162   0.419944         3.132
YR2017  38834.052934  -0.074350         2.822
YR2018  39751.133098  -0.000238         2.467
YR2019  40415.956765   0.634803         2.351
YR2020  40028.734173   0.933912         2.809
YR2021  40094.559980  -0.203836         2.808
YR2022  34065.643896   0.399049         2.614
YR2023  33836.175627   4.068198         2.600
YR2024  32475.892499   2.873810         2.500

In [67]:
jpn_econ = jpn_econ.rename_axis('year')

In [ ]:
# Extract to CSV
from pathlib import Path

filepath = Path('data/raw/jpn_econ.csv')
filepath.parent.mkdir(parents=True, exist_ok=True) 
jpn_econ.to_csv(filepath, index=True)

In [9]:
from pathlib import Path

filepath = Path('/Users/arie/Datas/Data Engineering/economics-data-pipeline/data/jpn_econ.csv')
df = pd.read_csv(filepath)
df.head()

     year         gdp  inflation  unemployment
0  YR1960  508.702779        NaN           1.7
1  YR1961  608.864581   7.785718           1.4
2  YR1962  684.565510   4.199578           1.3
3  YR1963  775.592123   5.510469           1.3
4  YR1964  902.867722   5.328706           1.1